/**
  * 16.0 MAIN FOOTER SECTION
  * -----------------------------------------------------------------------------
  */

#main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 49px 0;
    width: 100%;
    transition: 300ms;
}

/* 16.1 App Layout Footer */
.footer-content {
    margin-bottom: 54px;
}
/* -- */

ul.footer-nav,
ul.footer-social,
.copyright {
    text-align: center;
}

ul.footer-nav,
ul.footer-social {
    margin-bottom: 30px;
}

ul.footer-nav li {
    display: inline-block;
    padding: 0 17px;
    font-size: 14px;
}

ul.footer-social li {
    display: inline-block;
    padding: 0 7px;
}

ul.footer-social li a {
    color: #777;
    font-size: 20px;
}

.copyright p,
.copyright .language {
    display: inline-block;
    font-size: 11px;
}

.copyright p {
    margin-bottom: 0;
}

.copyright .language:before {
    display: inline;
    margin-top: 2px;
    margin-right: 11px;
    margin-left: 9px;
    width: 1px;
    height: 10px;
    color: #777;
    content: "|";
    font-size: 18px;
    font-family: monospace;
}

.copyright .language span[class^="icon-"] {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 18px;
}

.copyright .language a {
    color: #777;
    cursor: pointer;
}

ul.language-selection {
    margin-bottom: 0;
}

#main-footer .popover {
    top: 25px;
    font-size: 12px;
}

#main-footer.footer-facebook-hovered {
    background: #3b5998 !important;
}

#main-footer.footer-twitter-hovered {
    background: #55acee !important;
}

#main-footer.footer-linkedin-hovered {
    background: #1769ff !important;
}

#main-footer.footer-instagram-hovered {
    background: #3f729B !important;
}

#main-footer.footer-google-hovered {
    background: #cc3732 !important;
}

#main-footer.footer-dribbble-hovered {
    background: #ea4c89 !important;
}

#main-footer.footer-pinterest-hovered {
    background: #cc2127 !important;
}

#main-footer.footer-vimeo-hovered {
    background: #1ab7ea !important;
}

#main-footer.footer-facebook-hovered,
#main-footer.footer-facebook-hovered li a,
#main-footer.footer-facebook-hovered .copyright .language:before,
#main-footer.footer-facebook-hovered .copyright .language a,
#main-footer.footer-twitter-hovered,
#main-footer.footer-twitter-hovered li a,
#main-footer.footer-twitter-hovered .copyright .language:before,
#main-footer.footer-twitter-hovered .copyright .language a,
#main-footer.footer-linkedin-hovered,
#main-footer.footer-linkedin-hovered li a,
#main-footer.footer-linkedin-hovered .copyright .language:before,
#main-footer.footer-linkedin-hovered .copyright .language a,
#main-footer.footer-instagram-hovered,
#main-footer.footer-instagram-hovered li a,
#main-footer.footer-instagram-hovered .copyright .language:before,
#main-footer.footer-instagram-hovered .copyright .language a,
#main-footer.footer-google-hovered,
#main-footer.footer-google-hovered li a,
#main-footer.footer-google-hovered .copyright .language:before,
#main-footer.footer-google-hovered .copyright .language a,
#main-footer.footer-dribbble-hovered,
#main-footer.footer-dribbble-hovered li a,
#main-footer.footer-dribbble-hovered .copyright .language:before,
#main-footer.footer-dribbble-hovered .copyright .language a,
#main-footer.footer-pinterest-hovered,
#main-footer.footer-pinterest-hovered li a,
#main-footer.footer-pinterest-hovered .copyright .language:before,
#main-footer.footer-pinterest-hovered .copyright .language a,
#main-footer.footer-vimeo-hovered,
#main-footer.footer-vimeo-hovered li a,
#main-footer.footer-vimeo-hovered .copyright .language:before,
#main-footer.footer-vimeo-hovered .copyright .language a {
    color: #fff;
}